#img {
  background-size: cover;
}

#clock {
  height: 120px;
  width: 500px;
  position: absolute;
  display: inline;
  margin: 200px;
  text-align: center;
  color: white;
  font-size: 100px;
  border: 4px solid white;
  border-radius: 80px;
  padding: 20px;
}
